Metering.Station.Core/obj/
Metering.Station.Core/bin/
Metering.Station.Main/bin/
Metering.Station.Main/obj/
Metering.Station.Sds011/obj/
Metering.Station.Sds011/bin/
Metering.Station.Test.Unit/bin/
Metering.Station.Test.Unit/obj/

